﻿@{
    ViewData["Title"] = "My ASP.NET application";
}

<div class="text-left">
    <h1 class="display-4">My ASP.NET application with MongoDB CRUD</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a></p>
</div>
